.lists {
  width: 100%;
  padding-top: 1.5em;
}

.btns {
  display: flex;
  padding: 0 10em;
  border-bottom: 1px solid #cfcfcf;
}
.btn {
  padding: 0.5em;
  font-size: 1em;
  font-weight: 500;
  border: none;
  background: none;
  color: #505050;
  border-bottom: white 3px solid;
}
.btn:hover {
  border-bottom: #1b72e8 3px solid;
}
.result {
  margin: 1em 0 0 10.5em;
}
.total {
  color: #505050;
  font-weight: 500;
}
.table {
  width: 45%;
  /* background-color: sandybrown; */
  padding: 1em 0;
}
