.doogle {
  margin-top: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 17rem;
}
.search {
  padding-top: 1em;
}
.searchBar {
  width: 33em;
  padding: 0.7em;
  margin: 0.7em;
  font-size: 1.1em;
  outline: none;
  border-radius: 25px;
  border: #d6d6d6 1px solid;
}
.searchBar:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
.showlist {
  margin: 3em 0 3em 2em;
  padding: 1em;
  background-color: white;
  border: #e3e3e4 2px solid;
  border-radius: 8px;
  height: 20em;
  overflow: auto;
}
.addlist {
  width: 100%;
  position: absolute;
  left: 61%;
}

.btns {
  display: flex;
  margin-top: 0.5em;
}
.btn {
  width: 9em;
  margin: 0.3em;
  padding: 0.5em 1em;
  font-size: 0.95em;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
}
.btn:hover {
  border: 1px solid #dcdddd;
}

.notion {
  font-size: 0.8em;
  margin-top: 2em;
}
