.form {
  background-color: white;
  border: 2px solid#e3e3e4;
  border-radius: 10px;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  width: 25%;
}
.logo {
  width: 5em;
  padding: 1em 0 0;
}
.title {
  font-size: 1.2em;
  font-weight: 500;
}
.sort,
.input {
  color: #474747;
  font-size: 0.9em;
  padding: 0.6em;
  border-radius: 5px;
  border: 1.5px solid #e3e3e4;
  outline: none;
}
.names {
  flex-direction: row;
}
.p {
  color: #474747;
  font-size: 0.9em;
  font-weight: 400;
}
.btnArea {
  margin: 2em 0;
}
.btns {
  border: none;
  border-radius: 10px;
  background-color: #5691f1;
  color: white;
  font-weight: bold;
  width: 49%;
  margin: 0.1em;
  font-size: 1em;
  padding: 0.6em;
}
.btns:hover {
  opacity: 0.9;
}
