.form {
  background-color: rgba(48, 48, 48, 0.596);
  border-radius: 10px;
  color: white;
  padding: 1em;
}
.sort,
.input {
  font-size: 1em;
  padding: 0.5em;
  margin: 0.1em;
  border-radius: 5px;
  border: none;
  outline: none;
}
