.form {
  border: 2px solid#e3e3e4;
  border-radius: 10px;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  width: 25%;
}
.logo {
  width: 5em;
  padding: 1em 0 0;
}
.title {
  font-size: 1.2em;
  font-weight: 500;
  /* padding-bottom: 1em;
  border-bottom: 2px solid#e3e3e4; */
}
.sort,
.input {
  color: #474747;
  font-size: 0.9em;
  padding: 0.6em;
  border-radius: 5px;
  border: 1.5px solid #e3e3e4;
  outline: none;
}
.names {
  flex-direction: row;
}
.p {
  color: #474747;
  font-weight: 400;
}
